---
const pictures = [
  {
    grid: "row-span-2 col-span-1",
    src: "/sections/about/img-1.jpg",
    alt: "Imagem de um barbeiro executando seu trabalho em um cliente.",
  },
  {
    grid: "row-span-1 col-span-1",
    src: "/sections/about/img-2.jpg",
    alt: "Imagem de um barbeiro executando seu trabalho em um cliente.",
  },
  {
    grid: "row-span-1 col-span-1",
    src: "/sections/about/img-3.jpg",
    alt: "Imagem de um barbeiro executando seu trabalho em um cliente.",
  },
];

const titleContent = "Cuidando do Seu Estilo com Expertise e Paixão";
const paragraphContent =
  "Na nossa barbearia, entendemos a importância do seu estilo pessoal. Com uma equipe talentosa e dedicada, oferecemos cortes e serviços personalizados para garantir que você saia com a aparência que deseja e merece.";

const infoBarber = [
  {
    number: "99",
    text: "Satisfação do cliente",
  },
  {
    number: "10",
    text: "Anos de experiência",
  },
]
---

<div
  class="mx-auto max-w-6xl px-4 grid grid-cols-1 md:grid-cols-2 gap-12"
>
  <div class="grid grid-cols-2 gap-4 order-2 md:order-1">
    {
      pictures.map(({ grid, src, alt }) => (
        <div class={`${grid} overflow-hidden`}>
          <img
            src={src}
            alt={alt}
            class="w-full h-full object-cover aspect-auto"
            loading="lazy"
          />
        </div>
      ))
    }
  </div>

  <div class="flex flex-col gap-6 order-1 md:order-2">
    <h2
      class="text-3xl sm:text-4xl uppercase barlow-extrabold tracking-wider"
    >
      {titleContent}
    </h2>

    <p class="work-sans-regular">
      {paragraphContent}
    </p>

    <div class="flex items-center flex-wrap gap-x-12 gap-y-6">
      {
        infoBarber.map(({ number, text }) => (
          <div class="space-y-2">
            <h3 class="barlow-extrabold tracking-wider text-3xl sm:text-4xl">
              {number}<span class="text-darkVanilla">{text === "Satisfação do cliente" ? "%" : "+"}</span>
            </h3>

            <h4 class="barlow-extrabold tracking-wider text-lg sm:text-xl max-w-[170px] uppercase">
              {text}
            </h4>
          </div>
        ))
      }
    </div>
  </div>
</div>
