---
import CombScissors from "@/icons/services/comb-scissors";
import { Badge } from "../ui/badge";
import { Button } from "../ui/button";
import Comb from "@/icons/services/comb";
import BeardMachine from "@/icons/services/beard-machine";
import CuttingBlade from "@/icons/services/cutting-blade";
import Moisturizer from "@/icons/services/moisturizer";
import Beard from "@/icons/services/beard";
import { Card, CardHeader, CardContent } from "../ui/card";


const titleContent = "Explore Nossos Serviços de Barbearia";
const paragraphContent =
  "Oferecemos uma variedade de serviços de alta qualidade, realizados por profissionais dedicados e apaixonados por criar estilos únicos para cada cliente.";

  const services = [
  {
    icon: CombScissors,
    titleContent: "Corte de cabelo adulto",
    paragraphContent: "Estilo e elegância para homens modernos.",
    priceService: "R$ 20,00",
  },
  {
    icon: Comb,
    titleContent: "Corte de cabelo infantil",
    paragraphContent: "Estilo e elegância para garotos modernos.",
    priceService: "R$ 15,00",
  },
  {
    icon: BeardMachine,
    titleContent: "Corte de barba",
    paragraphContent: "Estilo e elegância para homens modernos.",
    priceService: "R$ 10,00",
  },
  {
    icon: CuttingBlade,
    titleContent: "Barbear o pescoço",
    paragraphContent: "Estilo e elegância para homens modernos.",
    priceService: "R$ 5,00",
  },
  {
    icon: Moisturizer,
    titleContent: "Hidratação do cabelo",
    paragraphContent: "Estilo e elegância para homens modernos.",
    priceService: "R$ 10,00",
  },
  {
    icon: Beard,
    titleContent: "Tratamento de barba",
    paragraphContent: "Estilo e elegância para homens modernos.",
    priceService: "R$ 10,00",
  },
];
const buttonAppointmentText = "Marcar consulta";
---

<div
  class="mx-auto max-w-6xl px-4 flex flex-col gap-y-12"
>
  <div
  class="flex flex-col items-center justify-center text-center gap-6 max-w-[600px] mx-auto"
  >
    <h2
      class="text-3xl sm:text-4xl uppercase barlow-extrabold tracking-wider"
    >
      {titleContent}
    </h2>

    <p class="work-sans-regular">
      {paragraphContent}
    </p>
  </div>

  <div class="mx-auto max-w-6xl px-4 grid grid-cols-1 md:grid-cols-2 gap-6">
    {
      services.map(({ icon: Icon, titleContent, paragraphContent, priceService }) => (
        <Card className="bg-white border-none p-8 flex items-start justify-center gap-x-8 rounded-none">
          <CardHeader className="p-0">
            <Icon className="shrink-0" />
          </CardHeader>

          <CardContent className="p-0 space-y-2">
            <h3 class="text-2xl barlow-extrabold tracking-wider">{titleContent}</h3>
              {
                Array.isArray(paragraphContent) ? (
                  paragraphContent.map((paragraph) => (
                    <p class="tracking-wider work-sans-regular">{paragraph}</p>
                  ))
                ) : (
                  <p class="tracking-wider work-sans-regular">{paragraphContent}</p>
                )
              }
              <span class="inline-block text-2xl tracking-wider barlow-extrabold">{priceService}</span>
          </CardContent>
        </Card>
      ))
    }
  </div>

  <a href="#contact" class="bg-darkVanilla px-8 py-4 uppercase 
    border-2 border-darkVanilla w-max mx-auto barlow-extrabold tracking-wider whitespace-nowrap">
      {buttonAppointmentText}
  </a>
</div>
