---
import { Instagram, Linkedin } from "lucide-react";
import { Badge } from "../ui/badge";

const badgeContent = "Nosso time";
const titleContent = "Conheça Nossa Equipe de Especialistas";
const paragraphContent =
  "Conte com os melhores profissionais dedicados, experientes e apaixonados por cuidar dos animais.";

const professionals = [
  {
    src: "/sections/team/professional-1.webp",
    alt: "Imagem relacionada ao professional em questão.",
    name: "Dr. João Silva",
    role: "Médico veterinário",
    social: [
      {
        icon: Instagram,
        url: "#",
      },
      {
        icon: Linkedin,
        url: "#",
      },
    ],
  },
  {
    src: "/sections/team/professional-4.webp",
    alt: "Imagem relacionada ao professional em questão.",
    name: "Dr. José Oliveira",
    role: "Veterinário especializado",
    social: [
      {
        icon: Instagram,
        url: "#",
      },
      {
        icon: Linkedin,
        url: "#",
      },
    ],
  },
  {
    src: "/sections/team/professional-3.webp",
    alt: "Imagem relacionada ao professional em questão.",
    name: "Dra. Sofia Oliveira",
    role: "Enfermeira especializada",
    social: [
      {
        icon: Instagram,
        url: "#",
      },
      {
        icon: Linkedin,
        url: "#",
      },
    ],
  },
  {
    src: "/sections/team/professional-2.webp",
    alt: "Imagem relacionada ao professional em questão.",
    name: "Laura Silva",
    role: "Recepcionista",
    social: [
      {
        icon: Instagram,
        url: "#",
      },
      {
        icon: Linkedin,
        url: "#",
      },
    ],
  },
];
---

<div class="mx-auto max-w-6xl px-4 flex flex-col gap-y-16">
  <div
    class="flex flex-col items-center justify-center text-center gap-4 max-w-[600px] mx-auto"
  >
    <Badge
      className="mx-auto md:mx-0 max-w-max font-bold text-primary uppercase bg-background text-xs shadow-md tracking-wide"
      role="status"
      variant="outline"
    >
      {badgeContent}
    </Badge>

    <h2
      class="text-3xl sm:text-4xl capitalize text-foreground font-extrabold tracking-wide"
    >
      {titleContent}
    </h2>

    <p class="text-secondary-foreground/70 tracking-wide">
      {paragraphContent}
    </p>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    {
      professionals.map(({ src, alt, name, role, social }) => (
        <article class="relative border min-h-[400px] rounded-lg overflow-hidden shadow-md">
          <img
            src={src}
            class="w-full h-full object-cover"
            alt={alt}
            loading="lazy"
          />

          <div class="absolute flex flex-col items-center justify-end pb-10 px-3 text-center bg-gradient-to-t from-[#030711]/95 via-[#030711]/35 w-full h-full bottom-0">
            <h3 class="text-xl sm:text-2xl font-semibold tracking-wide text-[#f3f4f6] capitalize">
              {name}
            </h3>

            <p class="text-base sm:text-lg tracking-wide text-[#f3f4f6]/70 capitalize">
              {role}
            </p>

            <ul class="flex items-center gap-x-4 mt-4">
              {social.map(({ icon: Icon, url }) => (
                <li>
                  <a
                    href={url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="inline-block bg-muted-foreground/20 p-2 rounded-lg hover:bg-primary transition-colors"
                  >
                    <Icon className="size-5 text-[#f3f4f6]" />
                  </a>
                </li>
              ))}
            </ul>
          </div>
        </article>
      ))
    }
  </div>
</div>
